*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
color: black;
}

.hero-section{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  flex-wrap: wrap;
}

.main-title{
  font-size: 5rem;
  font-weight: 600;
  max-width: 450px;
}

.btn-hero-section{
  width: 150px;
  height:50px;
  background-color: #A099D4;
  color: white;
  border-radius: 20px;
  border: 1px solid #A099D4;
  cursor: pointer;
  font-size: 18px;
}

.hero-section-wrapper-text{
display: flex;
flex-direction: column;
gap: 30px;
}

@media (max-width: 960px) {
 .hero-section-wrapper-text{
  order:2;
 
 }
  .main-title{
    font-size: 3rem;
  }

  .hero-section-img {
display: flex;
justify-content: center;
align-items: center;
height: 50vh;
max-width: 100%;
}
.hero-section{
  height: auto;
}

}

@media (max-width: 450px) {
 .hero-section-img {
display: none;
}

.hero-section-wrapper-text{
  justify-content: center;
padding: 50px;
}

}
